# Compilación y CMake
# Ignorar el directorio de build completo
/build/

# Archivos objeto y librerías
*.o
*.obj
*.lo
*.la
*.al
*.libs
*.dll
*.so
*.so.*
*.dylib
*.a
*.lib
*.exe
*.out
*.app

# Archivos generados por CMake
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
install_manifest.txt
CTestTestfile.cmake
CPackConfig.cmake
CPackSourceConfig.cmake
_deps/ # Para FetchContent de dependencias como googletest

# Directorio de ejecutables (si no está dentro de /build/)
/bin/

# Archivos temporales de Make
*.d
Makefile

# Archivos de proyectos de IDEs
*.code-workspace
*.sublime-project
*.sublime-workspace
*.pro.user
*.qbs.user
.idea/
.vscode/

# Archivos de sistema
.DS_Store
Thumbs.db
desktop.ini

# Archivos temporales de editores
*~
*.swp
*.swo
*.bak
*.tmp

